[Unit]
Description=FestejenBot
After=network.target
Requires=network.target

[Service]
ExecStart=python3 /home/pi/telegram-bots/festejen/telegrambot.py
Type=simple
Restart=always
User=pi
Group=pi

[Install]
WantedBy=multi-user.target
